services:
  - type: web
    name: telegram-kino-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: OWNER_ID
        sync: false
      - key: PORT
        value: 10000
      - key: WEBHOOK_URL
        sync: false
    plan: free
    autoDeploy: true